<%- include('_header') -%>

<h1>TODO LIST</h1>
<p>Count: <%= count %></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Priority</th>
      <th>Is Done?</th>
      <th>Created</th>
      <th>
        <a class="btn btn-sm btn-primary" href="/view/create">New Todo</a>
      </th>
    </tr>
  </thead>
  <tbody>
    <%# console.log(count, todos) %> <%# console.log(priority) %> <% for (let
    todo of todos) { %>
    <tr>
      <td># <%= todo.id %></td>
      <td><%= todo.title %></td>
      <td><%= todo.description %></td>
      <td><%= priority[todo.priority] %></td>
      <td><%= (todo.isDone ? 'YES' : 'NO') %></td>
      <td><%= todo.createdAt.toLocaleDateString('tr') %></td>
      <td>
        <a class="btn btn-sm btn-secondary" href="/view/<%= todo.id %>">Read</a>
        <a class="btn btn-sm btn-info" href="/view/<%= todo.id %>/update"
          >Update</a
        >
        <a
          class="btn btn-sm btn-danger"
          href="/view/<%= todo.id %>/delete"
          onclick="return confirm('Are you sure?')"
          >Delete</a
        >
      </td>
    </tr>
    <% } %>
  </tbody>
</table>

<%- include('_footer') -%>
