<%- include('_header') -%>

            <h1>TODO UPDATE</h1>
            <p>
                <a class="btn btn-sm btn-secondary" href="/view">List Todos</a>
            </p>
            <form action="" method="POST">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>Priority</td>
                            <td>
                                <select class="form-select" name="priority">
                                <% for (let key in priority) { %>
                                    <option value="<%= key %>" <%= (todo.priority==key ? 'selected' : '') %> ><%= priority[key] %></option>
                                <% } %>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Title</td>
                            <td><input type="text" name="title" required class="form-control" value="<%= todo.title %>"></td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>
                                <textarea name="description" class="form-control"><%= todo.description %></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>Is Done?</td>
                            <td>
                                <select class="form-select" name="isDone">
                                    <option value="1" <%= (todo.isDone ? 'selected' : '') %> >Yes</option>
                                    <option value="0" <%= (todo.isDone ? '' : 'selected') %> >No</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Created</td>
                            <td><%= todo.createdAt.toUTCString() %></td>
                        </tr>
                    </tbody>
                </table>
                <p>
                    <button class="btn btn-primary" type="submit">UPDATE</button>
                </p>
            </form>

<%- include('_footer') -%>